* {
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
.mycontainer {
  padding: 0px 3px;
}
.cont {
  padding: 0px 30px;
}
.details {
  padding: 10px 30px;
}

.editmenu {
  position: absolute;
  right: 30px;

  border-radius: 10px;
  background-color: white;
  z-index: 1000;
}
.menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.item {
  padding: 5px;
  width: 150px;
  font-size: medium;
  font-weight: "300";
}
.button {
  width: 100%;
  border: 2px solid lightblue;
  margin-bottom: 14px;
  border-radius: 20px;
}
@media (max-width: 350px) {
  .profile {
    display: block;
  }
  .views {
    justify-content: left;
  }
  .details {
    padding: 10px;
    display: block;
  }
}
